.details {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	background-image: url(https://image.freepik.com/free-vector/seamless-dogs-pattern_1284-3639.jpg);
	background-size: contain;
	background-attachment: fixed;
}

.details_container {
	user-select: none;
	text-decoration: none;
	box-shadow: 6px 6px 14px 2px rgba(0,0,0,0.88);
	margin: 15px;
	width: 500px;
    background: linear-gradient(0deg, #ff9930 0%, #ffe488 100%);
    border-radius: 25px;
    padding: 15px;
}

.inicio {
    width: 250px;
	background-color:#ff973000;
	border-radius:6px;
	border:1px solid #ffe488;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}