.search_container {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-between;
}

.input_dogs {
    background: linear-gradient(0deg, #ffe488 0%, #ff9930 100%);
	border: none;
	border-radius: 10px;
	margin: 10px;
	height: 30px;
	width: 200px;
	margin: 5px;
	outline:none;
}

.button_submit {
	background-color: black;
	margin: 10px;
	height: 30px;
	width: 80px;
	border-radius: 10px;
	border: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.button_submit:active {
	transform: scale(0.9);
}