.sort_container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

.sort_names{
	height: 30px;
    width: 80px;
	margin: 10px;
	background: linear-gradient(0deg, #ff9930 0%, #ffe488 100%);
	border-radius:6px;
	border:none;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	padding:6px;
	text-decoration:none;
}

.sort_weight {
	height: 30px;
    width: 150px;
	margin: 10px;
	background: linear-gradient(0deg, #ff9930 0%, #ffe488 100%);
	border-radius:6px;
	border:none;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	padding:6px;
	text-decoration:none;
}

.sort_created{
	height: 30px;
    width: 80px;
	margin: 10px;
	background: linear-gradient(0deg, #ff9930 0%, #ffe488 100%);
	border-radius:6px;
	border:none;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	padding:6px;
	text-decoration:none;
}

.temperamentos {
	height: 30px;
    width: 150px;
	margin: 10px;
	background: linear-gradient(0deg, #ff9930 0%, #ffe488 100%);
	border-radius:6px;
	border:none;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	padding:6px;
	text-decoration:none;
}